In [19]:
import pandas as pd

In [48]:
df_train = pd.read_csv('pa3_train.csv')
df_test = pd.read_csv('pa3_test.csv')

In [49]:
df_train

,cap-shape_b,cap-shape_c,cap-shape_f,cap-shape_k,cap-shape_s,cap-shape_x,cap-surface_f,cap-surface_g,cap-surface_s,cap-surface_y,...,population_v,population_y,habitat_d,habitat_g,habitat_l,habitat_m,habitat_p,habitat_u,habitat_w,class
0,0,0,0,0,0,1,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,0,0,1,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,1,...,0,1,1,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4869,0,0,0,1,0,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,0
4870,0,0,1,0,0,0,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0
4871,0,0,0,0,0,1,0,0,1,0,...,1,0,0,1,0,0,0,0,0,1
4872,0,0,0,0,0,1,0,0,0,1,...,1,0,1,0,0,0,0,0,0,0
4873,0,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,1,0,1

In [50]:
df_train.sum().max()

4874

In [51]:
df_train.drop('cap-shape_b', axis=1)

,cap-shape_c,cap-shape_f,cap-shape_k,cap-shape_s,cap-shape_x,cap-surface_f,cap-surface_g,cap-surface_s,cap-surface_y,cap-color_b,...,population_v,population_y,habitat_d,habitat_g,habitat_l,habitat_m,habitat_p,habitat_u,habitat_w,class
0,0,0,0,0,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
2,0,0,0,0,1,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,1,0,...,0,1,1,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4869,0,0,1,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
4870,0,1,0,0,0,0,0,1,0,0,...,1,0,1,0,0,0,0,0,0,0
4871,0,0,0,0,1,0,0,1,0,1,...,1,0,0,1,0,0,0,0,0,1
4872,0,0,0,0,1,0,0,0,1,0,...,1,0,1,0,0,0,0,0,0,0
4873,0,0,0,0,1,0,0,1,0,1,...,1,0,0,0,0,0,0,1,0,1

In [57]:
df_feature = df_train.loc[:99, ['cap-surface_f', 'cap-color_b', 'cap-surface_s', 'cap-surface_y']]
# print(df_feature.value_counts(normalize=True))
df_f = df_feature.loc[:, 'cap-surface_f']
df_b = df_feature.loc[:, 'cap-color_b']
df_s = df_feature.loc[:, 'cap-surface_s']
df_y = df_feature.loc[:, 'cap-surface_y']
print(df_f.value_counts())
print(df_b.value_counts())
print(df_s.value_counts())
print(df_y.value_counts())

0    69
1    31
Name: cap-surface_f, dtype: int64
0    98
1     2
Name: cap-color_b, dtype: int64
0    79
1    21
Name: cap-surface_s, dtype: int64
0    52
1    48
Name: cap-surface_y, dtype: int64

In [53]:
df_feature

    cap-surface_f  cap-surface_s  cap-surface_y
0               1              0              0
1               0              1              0
2               1              0              0
3               0              0              1
4               0              0              1
..            ...            ...            ...
95              1              0              0
96              1              0              0
97              1              0              0
98              0              1              0
99              0              0              1

[100 rows x 3 columns]

In [54]:
df_test[df_test.index==78]

,cap-shape_b,cap-shape_c,cap-shape_f,cap-shape_k,cap-shape_s,cap-shape_x,cap-surface_f,cap-surface_g,cap-surface_s,cap-surface_y,...,population_s,population_v,population_y,habitat_d,habitat_g,habitat_l,habitat_m,habitat_p,habitat_u,habitat_w
78,0,0,1,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0